<a href="https://colab.research.google.com/github/BlackCurrantDS/DeepLearning/blob/main/Negation_of_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ls = [1,2,3,4,5]

In [ ]:
a = [2,3]

In [ ]:
L = [1,2,3,4,5]

In [ ]:
list(set(L) - set(a))

[1, 4, 5]

#Load the training data

In [35]:
import pandas as pd
df = pd.read_csv('/content/breast_train_transactions.txt', header = None, sep="," , names=['a','b','c', 'd', 'e', 'f','g', 'h', 'i', 'k'])

In [36]:
df.head(5)

          a         b           c  ...         h             i      k
0  class@no  a1@30-39  a2@premeno  ...   a7@left   a8@left_low  a9@no
1  class@no  a1@40-49  a2@premeno  ...  a7@right   a8@right_up  a9@no
2  class@no  a1@40-49  a2@premeno  ...   a7@left   a8@left_low  a9@no
3  class@no  a1@60-69     a2@ge40  ...  a7@right    a8@left_up  a9@no
4  class@no  a1@40-49  a2@premeno  ...  a7@right  a8@right_low  a9@no

[5 rows x 10 columns]

In [37]:
#get all unique values in a list
big_list = []
big_list = (df['a'].append(df['b'])).unique()
big_list

array(['class@no', 'class@yes', 'a1@30-39', 'a1@40-49', 'a1@60-69',
       'a1@50-59', 'a1@70-79'], dtype=object)

In [38]:
big_list =[]
for column in df:
  big_list.append(df[column].unique())

In [39]:
big_list

[array(['class@no', 'class@yes'], dtype=object),
 array(['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
       dtype=object),
 array(['a2@premeno', 'a2@ge40', 'a2@lt40'], dtype=object),
 array(['a3@30-34', 'a3@20-24', 'a3@15-19', 'a3@0-4', 'a3@25-29',
        'a3@50-54', 'a3@10-14', 'a3@40-44', 'a3@35-39', 'a3@5-9',
        'a3@45-49'], dtype=object),
 array(['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14',
        'a4@24-26'], dtype=object),
 array(['a5@no', 'a5@yes', 'a5@?'], dtype=object),
 array(['a6@3', 'a6@2', 'a6@1'], dtype=object),
 array(['a7@left', 'a7@right'], dtype=object),
 array(['a8@left_low', 'a8@right_up', 'a8@left_up', 'a8@right_low',
        'a8@central', 'a8@?'], dtype=object),
 array(['a9@no', 'a9@yes'], dtype=object)]

In [40]:
len(big_list)

10

In [41]:
new_list = list(map(list,big_list))

In [42]:
new_list

[['class@no', 'class@yes'],
 ['a1@30-39', 'a1@40-49', 'a1@60-69', 'a1@50-59', 'a1@70-79'],
 ['a2@premeno', 'a2@ge40', 'a2@lt40'],
 ['a3@30-34',
  'a3@20-24',
  'a3@15-19',
  'a3@0-4',
  'a3@25-29',
  'a3@50-54',
  'a3@10-14',
  'a3@40-44',
  'a3@35-39',
  'a3@5-9',
  'a3@45-49'],
 ['a4@0-2', 'a4@6-8', 'a4@9-11', 'a4@3-5', 'a4@15-17', 'a4@12-14', 'a4@24-26'],
 ['a5@no', 'a5@yes', 'a5@?'],
 ['a6@3', 'a6@2', 'a6@1'],
 ['a7@left', 'a7@right'],
 ['a8@left_low',
  'a8@right_up',
  'a8@left_up',
  'a8@right_low',
  'a8@central',
  'a8@?'],
 ['a9@no', 'a9@yes']]

In [43]:
from pandas.core.common import flatten

In [45]:
u_list = list(flatten(new_list))

['class@no',
 'class@yes',
 'a1@30-39',
 'a1@40-49',
 'a1@60-69',
 'a1@50-59',
 'a1@70-79',
 'a2@premeno',
 'a2@ge40',
 'a2@lt40',
 'a3@30-34',
 'a3@20-24',
 'a3@15-19',
 'a3@0-4',
 'a3@25-29',
 'a3@50-54',
 'a3@10-14',
 'a3@40-44',
 'a3@35-39',
 'a3@5-9',
 'a3@45-49',
 'a4@0-2',
 'a4@6-8',
 'a4@9-11',
 'a4@3-5',
 'a4@15-17',
 'a4@12-14',
 'a4@24-26',
 'a5@no',
 'a5@yes',
 'a5@?',
 'a6@3',
 'a6@2',
 'a6@1',
 'a7@left',
 'a7@right',
 'a8@left_low',
 'a8@right_up',
 'a8@left_up',
 'a8@right_low',
 'a8@central',
 'a8@?',
 'a9@no',
 'a9@yes']

In [46]:
u_list = list(flatten(new_list))

In [ ]:
#now creat negative item set

In [60]:
neg_df = df.apply(lambda x: (set(u_list) - set(x)), axis=1)

In [56]:
neg_df.to_csv("neg_data.txt")

In [53]:
type(neg_df)

pandas.core.series.Series

In [61]:
neg_df.to_frame()

                                                     0
0    {a8@central, a8@?, a1@40-49, class@yes, a3@5-9...
1    {a8@central, a8@?, class@yes, a3@5-9, a3@15-19...
2    {a8@central, a8@?, class@yes, a3@5-9, a3@15-19...
3    {a8@central, a8@?, a2@premeno, a1@40-49, class...
4    {a8@central, a8@?, class@yes, a3@5-9, a3@15-19...
..                                                 ...
235  {a8@central, a8@?, a1@40-49, a3@5-9, a3@15-19,...
236  {a8@central, a8@?, a1@40-49, a3@5-9, a3@15-19,...
237  {a8@central, a8@?, a1@40-49, a3@5-9, a3@15-19,...
238  {a8@central, a8@?, a2@premeno, a3@5-9, a3@15-1...
239  {a8@central, a8@?, a2@premeno, a1@40-49, a3@5-...

[240 rows x 1 columns]

In [62]:
neg_df.head(4)

0    {a8@central, a8@?, a1@40-49, class@yes, a3@5-9...
1    {a8@central, a8@?, class@yes, a3@5-9, a3@15-19...
2    {a8@central, a8@?, class@yes, a3@5-9, a3@15-19...
3    {a8@central, a8@?, a2@premeno, a1@40-49, class...
dtype: object

In [64]:
neg_df.to_csv("neg_data.txt")